.new-grind-card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.back_to_home_btn{
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 50px;
}

.list-group{
  font-size: 24px;
}

input{
  padding: 5px;
  margin: 10px;
  border-radius: 15px;
  text-align: center;
}
